$font-cas: 'Press Start 2P', monospace;

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$color-golem-bg: #000;
$color-golem-fg: #fff;
$color-golem-button: #fff;
$color-golem-grid: #333;
$color-golem-cell-1: #ffab00;
