{
  "plugins": [
    "@loadable/babel-plugin"
  ],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": ["> 0.5%, last 2 versions, supports wasm"]
        }
      }
    ]
  ]
}
