* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  min-height: 100%;
  background-color: $color-golem-bg;
  color: $color-golem-fg;
}

body {
  font-family: $font-cas;
  font-size: 12px;
  min-height: 100%;
}

.golem-h1-wrapper {
  display: flex;
  justify-content: center;
}

.golem-h1 {
  display: inline-block;
  margin: .5rem auto 0 auto;
  padding: .75rem;
  border-top: 2px solid $color-golem-fg;
  border-right: 2px solid $color-golem-fg;
  border-left: 2px solid $color-golem-fg;
  text-align: center;
}

.p5Canvas {
  border: 2px solid $color-golem-fg;
  display: block;
  margin: 0 auto;
}

.golem-control {
  max-width: 90%;
  margin: 0 auto;

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.golem-stats {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: .5rem 1.25rem;
  border-right: 2px solid $color-golem-fg;
  border-bottom: 2px solid $color-golem-fg;
  border-left: 2px solid $color-golem-fg;
}

.golem-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.golem-options-row {
  display: flex;
  justify-content: space-between;
  align-content: center;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.golem-input-button {
  padding: .5rem .5rem;
  border: 2px solid $color-golem-button;
  background-color: $color-golem-bg;
  color: $color-golem-fg;

  &:hover {
    background-color: lighten($color-golem-bg, 15%);
    cursor: pointer;
  }
}

.golem-input-label {
  display: flex;
  align-items: center;
}

.golem-input-select {
  background: $color-golem-fg;
  color: $color-golem-bg;
  border: none;
  padding: .5rem .5rem;
}

.golem-input-text {
  border: none;
  padding: .5rem .5rem;
}
