* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html {
  min-height: 100%;
  background-color: $color-golem-bg;
  color: $color-golem-fg;
}

body {
  font-family: $font-cas;
  font-size: 12px;
  min-height: 100%;
}

.golem-h1-wrapper {
  display: flex;
  justify-content: center;
}

.golem-h1 {
  display: inline-block;
  margin: .5rem auto 0 auto;
  padding: .75rem;
  border-top: 2px solid $color-golem-fg;
  border-right: 2px solid $color-golem-fg;
  border-left: 2px solid $color-golem-fg;
  text-align: center;
}

.p5Canvas {
  border: 2px solid $color-golem-fg;
  display: block;
  margin: 0 auto;
}

.golem-control {
  max-width: $bp-lg;
  margin: 0 auto;
  padding: 0 3rem;

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.golem-stats {
  display: grid;
  padding: .5rem 1.25rem;
  border-right: 2px solid $color-golem-fg;
  border-bottom: 2px solid $color-golem-fg;
  border-left: 2px solid $color-golem-fg;

  span:not(:last-child) {
    margin-bottom: .5rem;

    @media screen and (min-width: $bp-sm) {
      margin-bottom: unset;
    }
  }

  @media screen and (min-width: $bp-sm) {
    grid-template-columns: repeat(2, 50%);
  }

  @media screen and (min-width: $bp-lg) {
    text-align: center;
  }
}

.golem-options {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - .5rem));
  row-gap: 1rem;
  column-gap: .5rem;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 1rem;

  @media screen and (min-width: $bp-sm) {
    grid-template-columns: repeat(4, calc(25% - .25rem));
  }
}

.golem-options-row {
  display: grid;
  row-gap: 1rem;
  column-gap: .5rem;
  justify-content: space-between;
  align-content: center;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: $bp-sm) {
    grid-template-columns: repeat(2, calc(50% - .5rem));
  }

  @media screen and (min-width: $bp-md) {
    grid-template-columns: repeat(4, calc(25% - .25rem));
  }
}

.golem-options-w2 {
  @media screen and (min-width: $bp-sm) {
    grid-column-start: span 2;
  }

  @media screen and (min-width: $bp-lg) {
    grid-column-start: auto;
  }
}

.golem-input-button {
  padding: .5rem .5rem;
  border: 2px solid $color-golem-button;
  background-color: $color-golem-bg;
  color: $color-golem-fg;

  &:hover {
    background-color: lighten($color-golem-bg, 15%);
    cursor: pointer;
  }
}

.golem-input-label {
  display: flex;
  align-items: center;
}

.golem-input-select {
  background: $color-golem-fg;
  color: $color-golem-bg;
  border: none;
  padding: .5rem .5rem;
}

.golem-input-text {
  border: none;
  padding: .5rem .5rem;
}
