$font-ps2p: 'Press Start 2P', monospace;

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$color-golem-bg: #212121;
$color-golem-fg: #fafafa;
$color-golem-active: #cfd8dc;
$color-golem-disabled: #616161;
$color-golem-invalid: #dd2c00;
