@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('./press-start-2p-v8-latin-regular.eot');
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'),
    url('./press-start-2p-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('./press-start-2p-v8-latin-regular.woff2') format('woff2'),
    url('./press-start-2p-v8-latin-regular.woff') format('woff'),
    url('./press-start-2p-v8-latin-regular.ttf') format('truetype'),
    url('./press-start-2p-v8-latin-regular.svg#PressStart2P') format('svg');
  font-display: swap;
}
